{% extends 'base.html.twig' %}

{% block title %}page de connexion{% endblock %}

{% block body %}
<h1> <center>Formulaire utilisateur📋</center></h1>
<h5>
<I><p class="text-warning">Le login est : {{login}} </p></I>
</h5>
<br>
<br>

<h5>
<B>
<p class="text-warning">{{message}} </p> </B> 
</h5>
{% endblock %}