{% extends 'base.html.twig' %}

{% block title %}création nouvel utilisateur{% endblock %}

{% block body %}

<h1> <center> Liste fichiers 📚 </center></h1>
<table class="table table-hover">

{% for un_document in lst_document %}

  <tbody>
    <tr class="table-info">
      <th scope="row">{{ un_document }} </th>
    </tr>
    </tbody>
{% endfor %}


{% endblock %}